[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[3AC0F71FC0F6DFD5]
row=1
col=0

[E63015A230157B2F]
row=2
col=0

[06C6C45EC6C44F9B]
row=0
col=0

[Papelera]
row=3
col=0

[/]
row=4
col=0

[/home/pablo1107]
row=5
col=0

